.distill-site-nav {
  color: rgba(5, 15, 15, 1);
  background-color: rgba(50, 55, 55, .5 );
  font-size: 15px;
  font-weight: 300;
}

.distill-site-nav a {
  color: inherit;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: black;
}

.distill-site-header {
}

.distill-site-footer {
}

@media print {
  .distill-site-nav {
    display: none;
  }
}

body{
  font-size: 12pt;
}

p {
  line-height: 24px;   /* within paragraph */
  margin-bottom: 1px; 
   
  }
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 16pt;
}